@import '../../index.scss';

.main{
    &-section{
        align-items: center;
        height: 500px;
        padding: 0 20px;
        justify-content: space-between;
        background-image: url('../../pages/Home/img/wide1.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}
