@import '../../index.scss';

.footer {
    &__section{
        // background-color: rgba(0, 0, 0, 0.541);
        font-weight: 200;
    }
    &__text{
        font-weight: lighter;
        text-decoration: none;
        color: $gold;
        &__opening{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 40px;
        }
    }
    &__horiz{
        display: flex;
        height: auto;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
    }
    &__info{
        display: flex;
        flex-direction: column;
        gap: 20px;
        &__logo{
            justify-content: center;
            align-items: center;
        }
    }
    &__base{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px;
        gap: 7px;
        color: rgb(44, 40, 40);
    }
}

@media (max-width: 500px) {
    .footer{
        &__logo{
            width: 200px;
        }
        &__horiz{
            flex-direction: column;
            gap: 40px;
        }
        &__info{
            gap: 5px;
            justify-content: center;
            align-items: center;
            &__logo{
                order: -1;
            }
        }
    }
    
}
